.empty-list {
    font-family: 'rickmorty';
    font-size: 100px;
    color: purple;
    text-shadow: 4px 0 green, -4px 0 green, 0 4px green, 0 -4px green, 2px 2px green, -2px -2px green, 2px -2px green, -2px 2px green;
}